<!DOCTYPE html>
<html>
  <head>
    <title>LicenseIn</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
   <h3><a href='/'>로고</a></h3>  
   <h3>
       <%= link_to "검색", controller: "home", action: "search" %>
   </h3>   
   <h3><a href='/calendar'>달력</a></h3>
   <h3><a href='/community'>커뮤니티</a></h3>
   <h3><a href='/book'>중고거래</a></h3>
   로그인  회원가입  마이페이지
   
    <footer>
    <h4>멋사로고</h4>
    <h4>만든사람 - 김선재 안누리 남예슬</h4>
    </footer>
    
  </body>
</html>
