<div id="indexFull"> 
	<div class="row">
		<div class="col s8">
			<div class="indexLeft">
				<h3>손쉬운 자격증 관리</h3>
				<h4>지금 시작하세요</h4>        
			</div>
		</div>
		<div class="col s4">
			<div class="indexRight">
				<%= render 'home/shared/loginBox' %>
			</div>  
		</div>
		<div class="row">
			<div class="col s6 offset-s3 tour">
				<a href="/home/main" class="btn btn-tour waves-effect waves-light">둘러보기</a>
			</div>        
		</div> <!-- row-->
	</div> <!-- indexfull-->


	<!--div id="introduce"> 
	<div class="row">
		<div class="col s12">  
			<div class="section">
				<img class="introduce-img" src="/assets/111.png"/>

			</div>
			<div class="section">
				<img class="introduce-img" src="/assets/222.png"/>
			</div>
			<div class="section">
				<img class="introduce-img" src="/assets/333.png"/>
			</div>
			<div class="section">
				<img class= "brand-img" src="/assets/brand.png"/>
			</div>
		</div> <!--- col s12--->
	</div> <!--- row --->
</div> <!-- introduce-->
</div---> <!--- container-fluid ---> 


<div class="container">
	<div id="introduce">
		<div class="row index-left">
			<div class="col s8">
				<h3>자격증 캘린더</h3>
				<p>원하는 자격증의 접수 일정, 시험 일정을 캘린더에서 한 눈에 쉽게 파악할 수 있습니다.</p>
			</div>
			<div class="col s4">
				<img src="//placehold.it/330x270" alt="">
			</div>
		</div>
		<div class="row introduce-right">
			<div class="col s4">
				<img src="//placehold.it/330x270" alt="">
			</div>
			<div class="col s8">
				<h3>자격증 D-DAY</h3>
				<p>접수한 자격증 시험일이 얼마나 남았는지 D-Day 서비스를 제공합니다</p>
			</div>
		</div>
		<div class="row introduce-left">
			<div class="col s8">
				<h3>자격증 관리</h3>
				<p>가지고 있는 자격증 정보를 입력하여 손쉽게 자격증 이력을 관리할 수 있습니다</p>
			</div>
			<div class="col s4">
				<img src="//placehold.it/330x270" alt="">
			</div>
		</div>

	</div>  
