<<<<<<< HEAD
<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>
=======
<!--div class="container-->
<div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-md-8">손쉬운 자격증 관리 지금 시작하세요</div>
      <div class="col-xs-6 col-md-4">
          <div class="loginBox">
              <form class="login">
                <input type="text" class="form-control" placeholder="이메일">
                <input type="password" class="form-control" placeholder="비밀번호">
                <input type="submit" value="로그인" class="btn btn-login">
              </form>
              <div id="forget">
                <a href="#">비밀번호를 잊으셨습니까?</a>
              </div>
                <input type="submit" value="바로 접속하기" class="btn btn-signUp sign-home">
                <button type="submit" class="btn btn-signUp sign-home">손쉽게 가입하기</button>
          </div>
      </div>
    </div>
</div>

>>>>>>> origin/noodi
