<%= render :partial => "home/partials/header" %>
<div class="row">
    <div class="col s4">
    <%= render :partial => "home/partials/sidebar" %>
    </div>
    <div class="col s8">
        <div>
            <h1>목표 자격증</h1>
        </div> 
    </div>
</div>
<%= render :partial => "home/partials/footer"  %>