<div class="container">
    <%= render 'home/shared/searchMenu' %>
    <div class="searchBox">
        <div class="row">
            <div id="searchAbc">
                <div class="indexBox" style="margin-top:-20px">
                    <ul>
                        <li><a href="#" class="indexBox__mini">ㄱ</a></li>
                        <li><a href="#" class="indexBox__mini">ㄴ</a></li>
                        <li><a href="#" class="indexBox__mini">ㄷ</a></li>
                        <li><a href="#" class="indexBox__mini">ㄹ</a></li>
                        <li><a href="#" class="indexBox__mini">ㅁ</a></li>
                        <li><a href="#" class="indexBox__mini">ㅂ</a></li>
                        <li><a href="#" class="indexBox__mini">ㅅ</a></li>
                        <li><a href="#" class="indexBox__mini">ㅇ</a></li>
                        <li><a href="#" class="indexBox__mini">ㅈ</a></li>
                        <li><a href="#" class="indexBox__mini">ㅊ</a></li>
                        <li><a href="#" class="indexBox__mini">ㅋ</a></li>
                        <li><a href="#" class="indexBox__mini">ㅌ</a></li>
                        <li><a href="#" class="indexBox__mini">ㅍ</a></li>
                        <li><a href="#" class="indexBox__mini">ㅎ</a></li>
                    </ul><br>
                </div>
            </div>
        </div>
    </div>
    
    <%= render 'home/searchResult' %>
    
</div>