<div class="container">
    <%= render 'home/shared/searchMenu' %>
    <div class="searchBox">
        <div class="row">
            <div id="searchKeyword">
                <form>
                    <div class="input-field">
                      <input id="search" type="search" placeholder="자격증 관련 키워드를 입력해주세요" required>
                      <label for="search"><i class="material-icons">search</i></label>
                      <i class="material-icons">close</i>
                      <button type="submit" class="btn btn-search waves-effect waves-light">검색</button>
                     </div>
                </form>
            </div>
        </div>
    </div>
    
    <%= render 'home/searchResult' %>
    
</div>