<%= render "license/shared/sidebar" %>

<div class="license">
	<%= render "license/shared/aimcontainer", aimcontainer: @aimcontainer, licenses: @licenses %>
	<hr>
	<%= render "license/shared/likecontainer", likecontainer: @likecontainer, licenses: @licenses %>
</div>

<script type="text/javascript">

	$(document).ready(function(){
		// the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
		$('.modal-trigger').leanModal();
		
		$('#canceladdAim').click(function() {
			$('#addAim').closeModal();
		});

		$('select').material_select();
	});

</script>