<div id="searchMenu">
    <div class="row">
            <a class="btn btn-searchMenu" href="/home/searchKeyword">키워드 검색</a>
            <a class="btn btn-searchMenu" href="/home/searchAbc">초성 검색</a>
            <a class="btn btn-searchMenu" href="/home/searchAbc">전공별 검색</a>
    </div>
</div>    

