<div class="navbar-fixed">
<nav role="navigation">
    <div class="nav-wrapper white">
      <a href="/" class="navbar-brand"><img class="img-responsive center" src="/assets/logo.png"></a>
      <ul id="nav-mobile" class="right">
        <li><a href="/home/myAim" class="active">나의자격증</a></li>
        <li><a href="/home/search">검색</a></li>
        <li><a href="/home/community">커뮤니티</a></li>
        <li><a href="/home/book">중고거래</a></li>
        <li><a href="/home/calendar">달력</a></li>
        <% if user_signed_in? %>
        <li><%= current_user.email %></li>
        <li><a href="/home/setting"><i class="material-icons">settings</i></a></li><span class="line"></span>
        <li><a href="/users/sign_out" data-method="delete">로그아웃</a></li>
        <% else %>
        <li><a href="/users/sign_in"  class="btn waves-effect waves-light red darken-1">SIGN IN</a>
          <!--a href="/users/sign_in" class="btn btn-main">SIGN IN</a--></li>
        <li>
          <a href="/users/sign_up" class="btn waves-effect waves-light red darken-1">JOIN US</a>
          <!--a href="/users/sign_up" class="btn btn-main">JOIN US</a--></li>
        <% end %>
      </ul>
    </div>
 </nav>  
</div>






