<div class="container-fluid">
<div id="sidebar">
    <ul class="nav nav-sidebar">
        <li><a href="/home/myAim" class="active">목표! 자격증</a></li><br>
        <li><a href="/home/myLicense">자격증 관리</a></li>
    </ul>   
</div>
</div>