/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@font-face {font-family:나눔고딕; src:url(font/NanumGothic.eot);}
                body,td,a,p {font-family:나눔고딕; color:black}

html {
   min-height: 100%;
}


body {
    overflow: auto;
    height: 100%;
    background-color: #f2f2f2;
   /* margin-bottom: 60px; */
    
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  

}


nav {
    background-color: white;
    
    
        
    ul a {
        color: black;

    }    
    
    
    .nav-wrapper {
        position: relative;
        height: 100%;
    }
    
    .navbar-brand img {
        max-height: 60%;
        vertical-align: middle;
        display: inline-block;
        margin-left: 2%;
        margin-bottom: auto;
    }        
    
    .container {
        padding: auto;
    }
    
    .btn-nav {

        border-radius: 10px;
        width: 70px;
        padding: 0;
    }
}


nav ul a.btn, nav ul a.btn-large, nav ul a.btn-large, nav ul a.btn-flat, nav ul a.btn-floating {
    margin-left: 3px;
    
}


    


.side-tab{
    margin-top: 30px;
    position: relative;
    width: 70% !important;
}



.setting-name{
    color: black;
}


.container {

    margin: 0 auto;

}


footer {
    padding-left: 200px;
}


.setting-menu-container {
    position: absolute;
    right: 0;
    display: none;
    text-align: center;
    margin-top: 5px;
   
    .setting-email,
    .setting-my{
        color: black;
        height: 40px;
    }
}

.setting-email{
    height: 40px;
}









/*footer {
    position: absolute;
    bottom: 0;
    // bottom: -66px;
    display: inline-block;
    width: 100%;
    background-color: #f5f5f5;
    text-align: center;     
    .footer-img
        {
            height: 50px;
            vertical-align: center;
            
        }
} 


.side-nav {
    position: absolute;
    /*margin-top: 64px;
    width: 230px;
    height: auto;
    margin-top: 64px;
    padding-top: 70px;
    padding-bottom: 10px;
    border-right: solid 1px #e9eced;
    background-color: #fff;
    text-align: center;
    bottom: 0;
    left: 0;   
    overflow-y: auto;
    overflow-x: hidden;
    /*top: 0;

} */
