

#searchMenu {
    margin: 50px auto 30px auto;
    width: 100%;
}


.searchBox {
    height: 220px;
    margin: 0px auto;
    border-style: solid;
    border-color: gray;
    border-width: thin;
    background-color: white;
    
    padding: 50px 0px;
}



.searchKeyword {
    width: 70%;
    margin: 0 auto;
}

.searchAbc {
    
}

.indexBox {
    display: inline-block;
    width: 90%;
    float: left;
    height: 15px;
    margin: 15px;
    list-style: none;
        .indexBox__mini {
            display: inline-block;
            color: white;
            background-color: #bbbbbb;
            font-size: 11px;
            border: 1px;
            border-color: transparent;
            width: 17px;
            height: 17px;
            text-align: center;
            vertical-align: middle;
    }
}


.indexBox ul, .indexBox ul li, .indexBox ul li a{
    margin: 1px;
    display: inline-block;
    vertical-align: middle;
    line-height: 1.5;
    padding: 0;
}

.indexBox ul:after{
    content:'';
    display: block;
    clear: both;
    visibility: hidden;
}
.indexBox ul li{
    float: left;
    display: block;
    padding: 0;
}
.indexBox ul li a{
    display: block;
    position: relative;
    text-decoration: none;
    transition: color .25s;
    -webkit-transition: color .25s;
    -moz-transition: color .25s;
    -o-transition: color .25s;
}
.indexBox ul li a:before{
    content:'';
    display:absolute;
    transition: width .25s;
    -webkit-transition: color .25s;
    -moz-transition: color .25s;
    -o-transition: color .25s;
}
.indexBox ul li a:hover{
    background-color: #ff8587; /* 마우스 오버했을 때 변경되는 값 */
}
.indexBox ul li a:hover:before{
    width:100%;
}
.indexBox ul li.active a{
    background-color: #ff8587;
}
.indexBox ul li.active a:before{
    width:100%;
}





.btn-search, {
    border-style: solid;
    border-color: #f44336;
    border-width: thin;
    border-radius: 10px;
    background-color: white;
    color: #f44336;
    width: 70px;
    padding: 0;
    
}

.btn-search:hover {
    background-color: #f44336;
    color: white;
    
}


.searchResult {
    margin-top: 30px;
    border-style: solid;
    border-color: gray;
    border-width: thin;
    background-color: white;
    height: auto;
}