.side-nav {
    width: 200px;
}

#sidebar {
    padding: 0;
    float: left;
    /*position: fixed;*/
    width: 100%;
    top: 64px;
    left: 0;
    border-right: solid 1px #e9eced;
    height: calc(100vh - 55px);
    background: #fff;
    text-align: center;
    font-size: 25px;
    text-align: center;
    
    .active{
        color: #9e9e9e;
    }
    
    .manage{
        color: #9e9e9e;
    }

}