
  <div id="nav-mobile" class="col s12">
    <ul class="tabs side-tab">
      <li class="tab col s6"><a class="active" href="/license/myAim">목표자격증</a></li>
      <li class="tab col s6"><a href="/license/myLicense">자격증관리</a></li>
    </ul>
 </div>
 

 <script type="text/javascript">
     
  $(document).ready(function(){
    // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
    $('ul.tabs').tabs();
  });
  
</script>










<!---ul id="nav-mobile" class="side-nav fixed">
  <li><a href="/license/myAim">목표! 자격증</a></li>
  <li><a href="/license/myLicense">자격증 관리</a></li>
</ul>

<script>
  $(function() {
    $('.button-collapse').sideNav(
      {
        menuWidth: 300, // Default is 240
        edge: 'right', // Choose the horizontal origin
        closeOnClick: true // Closes side-nav on <a> clicks, useful for Angular/Meteor
      }
    );
    
    $('.button-collapse').sideNav('hide');
  });
</script-->